<template xmlns:id="http://www.w3.org/1999/xhtml">



<div>

  <div>
    {{dealerCards[0]}}
  </div>
  <button v-on:click="addPlayerCard">
    draw card
  </button>
  <div>
    {{playerCards}}
  </div>
  <div  v-if="AceSeen[0]">
    <button id="A1" v-on:click="toggleAce($event)" >
      toggle first Ace
    </button>
  </div>
  <div v-if="AceSeen[1]">
    <button id="A2" v-on:click="toggleAce($event)" >
      toggle second Ace
    </button>
  </div>
  <div v-if="AceSeen[2]">
    <button id="A3" v-on:click="toggleAce($event)" >
      toggle third Ace
    </button>
  </div>
  <div v-if="AceSeen[3]">
    <button id="A4" v-on:click="toggleAce($event)">
      toggle fourth Ace
    </button>
  </div>
</div>
</template>

<script>

import {fetchCards} from "@/components/cardAPI";

export default {
  name: "PlayScreen",

  created() {

    fetchCards("https://deckofcardsapi.com/api/deck/new/"
  ).then(drawnCards=>{
      this.drawnCardsId=drawnCards.deck_id
      this.shuffle()
      this.dealInitialCards()


    })


  },
  data(){
    return{
      dealerCards : [],
      playerCards : [],
      drawnCardsId: '',
      AceSeen:[false,false,false,false]


    }
  },
  methods:{
    dealInitialCards(){
      this.addDealerCard()
      this.addDealerCard()
      this.addPlayerCard()
      this.addPlayerCard()

    },
    shuffle() {
      fetchCards(`https://deckofcardsapi.com/api/deck/${this.drawnCardsId}/shuffle/`)
    },

    drawCard(){
// Return fetchCards
      return fetchCards(`https://deckofcardsapi.com/api/deck/${this.drawnCardsId}/draw/?count=1`).then(card=>{
        let valueNum=0

        switch(targetId) {
          case "ACE":
            valueNum=1
            break;
          case "KING":
            valueNum=13
            break;
          case "QUEEN":
            valueNum=12
            break;
          case "JACK":
            valueNum=11
            break;
          default:
            valueNum=card.cards[0].value
            break;

        }
        const drawncard={
          value: valueNum,
          suit: card.cards[0].suit
        }
        return drawncard
      })
    },
    addDealerCard(){
      this.drawCard().then(card => {
        this.dealerCards.push(card)
      })
    },
    addPlayerCard(){
      this.drawCard().then(card => {
        this.playerCards.push(card)
      })
    },
    toggleAce(event){
      const targetId=event.currentTarget.id
      const aces=this.playerCards.filter(card=>card.value==="ACE")

      switch(targetId) {
        case "A1":
          aces[0]=14;
          break;
        case "A2":
          // code block
          break;
        case "A3":
          // code block
          break;
        case "A4":
          //code
          break;
      }


    }

  }
}
</script>

<style scoped>

</style>