<template>

    <div class="main-container">
        <div class="header">
         <h1 class="title"> BlackJack </h1>
        </div>

        <div class="mid-screen">
            <form>
                <label></label>
                <input id="head" class ="ammount" type="ammount" required v-model="name" placeholder="Enter name"> 

            </form>
            
        
        </div>
        
        <div class="bottom-screen">
            <div @click="redirectToPlay()" class ="start-game">
                Start Game
            </div>
        </div>
    </div>
</template>

<script>




export default {

  created() {

    },data() {
        return {
          
            name : ""
            
        }
    },
     methods: {
        redirectToPlay() {
            // this.$router.push({path: "/play:"{{this.name}}})
            // this.$router.push({ name: 'play', params: { name: this.name } })
            this.$router.push({ name: 'play', params: { name: this.name }})
        }
    
     }
}
</script>

<style scoped>

.title {
    font-family: 'Josefin Sans', sans-serif;
    color:#F6C90E;
    font-size: 3rem;
    font-weight: thin;
}

#logo {
    width:15%; 
}

.main-container {
    display:grid;
    grid-template-rows: 10% 65% 25%;
    width: 100vw;
    height: 90vh;
    max-width:100%; 
    max-height: 100%;
}



.start-game{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    color:#222831;
    width:10%;
    height:2.3rem;
    border-style:solid;
    border-width:1px;
    border-color: #F6C90E;
    border-radius: 10px;
    background-color: #F6C90E;
    margin:auto;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.start-game:hover{
    background-color: #fcdb5a;
}

.ammount {
    background-color: #222831;
    border:none;
    margin:auto;
    margin-top:3rem;
    height:2rem;
    width:10%;
    border-bottom: 1px solid white;
    display:flex;
    justify-content: center;
    color:white;
    
    
}

.ammount:hover{
  
    border-color: #F6C90E;
    color:#F6C90E;
}


.ammount2 {
    background-color: #222831;
    border:none;
    width:100%;
    
}

.mid-screen{
  margin-top:15rem;
}


#head {
    margin-top:7rem;
}


</style>